<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>版权监控系统</title>
  <style>
    .read-404 {
      font-size: 18px;
    }
  </style>
</head>
<body>

<div class="read-404">
  <p>程序员正在挨骂中........>>>>0.0<<<<....................</p>
  <p>正在挨骂中....................>>>>0.0<<<<....................</p>
  <p>挨骂中............................>>>>0.0<<<<....................</p>
  <p>程序员反抗中................>>>>0.0<<<<....................</p>
  <p>程序员已离职！............>>>>0.0<<<<....................</p>
</div>
</body>

</html>
